
* {
  transition: 0.5s ease-in;
}
.page {
  background-color: #3b3f45;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
.title {
  display: inline-block;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: "Roboto";
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ff8984;
}
.page-header {
  background-color: #4a4f56;
}
.subtitle {
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: "Roboto";
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 10px;
  color: #ff8984;
  margin-top: 0px;
}
.title-div {
  padding-top: 8px;
  padding-bottom: 8px;
}
.container {
  display: flex;
  margin: 0px auto 0px auto;
  background-color: #3b3f45;
  width: 50%;
  background-color: #88839e;
  display: block;
  justify-content: center;
  align-items: center;
}
@media (max-width:768px) {
  .page {
    min-height: 605px;
    min-height: 300px;
  }
  .container {
    width: 85%;
  }
  .page-header {
width: 95%;
margin: 0 auto;
min-height:  150px;
  }
 .title {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 8px;
  margin-bottom: 0px;
}
.button {
  min-height: 30px;
}
.first-span {
  line-height: 20px;
  min-width: 50px;
  font-size: 15px;
}
.second-span {
  font-size: 10px;
}
.button {
margin: 0 auto;
  
}
@media (min-width:768px) and (max-width:1024px) {
  .container {
    min-width: 85%;
   
  }
  .title {
    font-size: 25px;
  }
  .first-span {
    line-height: 20px;
    min-width: 50px;
    font-size: 20px;
  }
  
  .second-span {
    font-size: 15px;
  }
}
}
.first-subtext {
  display: block;
  transform: translate(100px, -8px);
  height: 5px;
}
.second-subtext {
  display: block;
  transform: translate(1px, -8px);
  height: 5px;
}
.third-subtext {
  display: block;
  transform: translate(1px, -8px);
  height: 5px;
}
.fourth-subtext {
  display: block;
  transform: translate(1px, -8px);
  height: 5px;
}
.sixth-subtext {
  display: block;
  transform: translate(1px, -8px);
  height: 5px;
}
.list {
  padding-left: 0px;
}
.list-element {
  font-family: "Roboto";
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #ffffff;
  margin-left: 0px;
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
}
.list-element:nth-child(odd) {
  background-color: #88839e;
}
.list-element:nth-child(even) {
  background-color: #625e77;
}
.list-element:nth-child(odd) {
  border-top: 3px solid #88839e;
  border-bottom: 3px solid #88839e;
}
.list-element:nth-child(even) {
  border-top: 3px solid #625e77;
  border-bottom: 3px solid #625e77;
}
.list-element:hover {
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  background-color: #625e77;
}
.list-element:active {
  background-color: aquamarine;
}
input[type="checkbox"]:checked ~ span {
  color: #9b96ac;
  text-decoration: line-through;
}
.second-span {
  font-size: 12px;
}
.first-subtext {
  display: block;
  transform: translate(1px, -8px);
  height: 5px;
}
.second-subtext {
  display: block;
  transform: translate(1px, -8px);
  height: 5px;
}
.third-subtext {
  display: block;
  transform: translate(1px, -8px);
  height: 5px;
}
.fourth-subtext {
  display: block;
  transform: translate(1px, -8px);
  height: 5px;
}
.sixth-subtext {
  display: block;
  transform: translate(1px, -8px);
  height: 5px;
}
.button-div {
  display: flex;
  margin: 45px auto 0px auto;
  max-height: 40px;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
}
.button {
  display: inline-block;
  text-align: center;
  justify-content: center;
  width: 50%;
  height: 45px;
  color: #ff8984;
  background-color: #4a4f56;
  border: none;
}
.button-link {
  text-decoration: none;
  color: #ff8984;
  font-family: sans-serif;
}
.checkbox {
  opacity: 0;
  z-index: -1;
}
.checkbox + label {
  display: inline-flex;
  align-items: center;
}
.checkbox + label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #adb5bd;
  border-radius: 3px;
  margin-right: 10px;
  background-color: white;
}
.checkbox:checked+label::before {
  background-color: white;
 background-image: url(Vector.svg);
 background-repeat: no-repeat;
 background-position: center center;
}
